.square {
    width: 336px;
    height: 264px;
    border-radius: 16px;
    background-color: #27272A;
    color:"#A1A1AA";
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(15, 15, 15);
    }
    
    
    .lightSquare{
        width: 336px;
        height: 264px;
        border-radius: 16px;
        background-color: #e6e6e6;
        color:black;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        box-shadow: 5px 5px 5px rgb(134, 134, 134);
    }
    
    .closedisplay { 
        display: flex;
        justify-content: space-between;
        width: 100%;
    
    }
    
    .footer {
    width: 100%;
    color: #A1A1AA;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    }
    
    .type2 {
        width: 103px;
        height: 112px;
    margin-top: 5%;
    background-color: transparent;
    border: 1px solid #A1A1AA;
    border-radius: 10px;
    display: column;
    justify-content: center;
    align-content:center;
    color: black;
    font-weight: 500;
    }
    

    .type2light {
        width: 103px;
        height: 112px;
    margin-top: 5%;
    background-color: transparent;
    border: 1px solid #A1A1AA;
    border-radius: 10px;
    display: column;
    justify-content: center;
    align-content:center;
    color: white ;
    font-weight: 500;
    }

    .type:focus {
        outline: none;
    }
    
    .type3 {
        width: 340px;
        height: 112px;
        display:flex;
        justify-content: space-between;
        padding-top: 30px ;


        
    }
    
.type2:hover {
    cursor: pointer;
}

.type2light:hover {
    cursor: pointer;
}

.emoji {
margin-left: 40%;
margin-top: 10%;

}

.title1 {
    margin-left: 15%;
    margin-top: 30%; }
.title2 {
    margin-left: 30%;
    margin-top: 30%;
  
}
.title3 {
    margin-left: 25%;
    margin-top: 30%; }

    .bottoncontainer {
        width: 100%;
        display: flex;
        justify-content: start;
        margin-top: 5px ;
        padding-left: 20px;
    }
    .camera {
        width: 40px;
        height: 40px;
        background-color: #3F3F42;
        border: none;
        border-radius: 5px;
        margin-right: 18px;
    }
    
    .cameraLight {
        width: 40px;
        height: 40px;
        background-color: #F4F4F5;
        border: none;
        border-radius: 5px;
        margin-right: 18px;
    }
    
    .feedback {
        width: 253px;
        height: 40px;
        border: 1px solid #8257E5;
        background-color: #8257E5;
        border-radius: 5px;
        color: white;
        font-weight: 600;
    }
    
    .feedback:hover{
        cursor: pointer;
    }
    
    .darkTitle2 {
        color: white;
        display: flex;
        justify-content: center;
        margin: 0;
        padding-left: 25%;
    }
    
    .lightTitle2{
        color: black;
        margin: 0;
        display: flex;
        justify-content: center;
        padding-left: 25%;
    }
    
    .footerLight{
        width: 100%;
        color: black;
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }

    .footerLight2{
        width: 100%;
        color: black;
        display: flex;
        justify-content: center;
        margin-top: 20%;}

        .footer2 {
            width: 100%;
            color: #A1A1AA;
            display: flex;
            justify-content: center;
            margin-top: 20%;
            }